.single-project {
    background-color: white;
    margin: 50px auto;
    padding: 50px;
    padding-top: 30px;
    position: relative;
    width: 830px;
}

.single-proj-name {
    font-size: 40px;
    margin: 0;
    margin-bottom: 30px;
}

.proj-pal-container {
    display: flex;
    
}

.proj-color {
    height: 100px;
    width: 100px;
}