.single-project {
    background-color: white;
    margin: 50px auto;
    padding: 50px;
    padding-top: 30px;
    position: relative;
    width: 830px;
}

.single-proj-name, .true-name, .true-input {
    font-size: 40px;
    margin: 0;
    margin-bottom: 30px;
}

.proj-pal-container {
    display: flex;
    
}

.proj-color {
    height: 100px;
    width: 100px;
}

.true.single-project {
    text-align: center;
}

.false-input, .false-name {
    display: none;
}

.true-input {
    cursor: pointer;
    // left: 33px;
    padding-left: 8px;
    color: #626262;
    // font-size: 34px;
    // margin-bottom: 20px;
    position: absolute;
    // width: 250px;

}