* {
  box-sizing: border-box;
}

.project-form {
  bottom: 62px;
  left: 25px;
  position: absolute;
}

.add-project, .save-palette {
  border-bottom: 1px solid #626262;
  width: 245px;
}

.add-project {
  bottom: 9px;
  position: absolute;
}

.save-palette {
  margin-top: 10px;
  position: absolute;
  top: -2px;
}

.project-input, .palette-input {
  border: none;
  color: #626262;
  font-size: 13px;
  padding-bottom: 6px;
}

.add-project-btn, .save-palette-btn {
  border: none;
  bottom: 5px;
  color: #626262;
  font-size: 16px;
  position: absolute;
  right: 0;
}

.add-project-btn:hover, .save-palette-btn:hover {
  bottom: 1px;
  border: 1px solid #626262;
  border-radius: 50px;
  color: green;
  cursor: pointer;
  height: 25px;
  padding-bottom: 1px;
  right: -7px;
  width: 25px;
  text-align: center;
}