* {
  box-sizing: border-box;
}

.project-form {
  bottom: 62px;
  left: 25px;
  position: absolute;
}

.add-project, .save-palette {
  border-bottom: 1px solid #626262;
  color: #626262;
  width: 245px;
}

.add-project {
  bottom: 9px;
  position: absolute;
}

.save-palette {
  margin-top: 10px;
  position: absolute;
}

.project-input, .palette-input {
  border: none;
  color: #626262;
  font-size: 13px;
  padding-bottom: 6px;
  width: 150px;
}

.add-project-btn, .save-palette-btn {
  border: none;
  bottom: 5px;
  color: #626262;
  font-size: 16px;
  position: absolute;
  right: 0;
}

.add-project-btn:hover, .save-palette-btn:hover {
  bottom: 3.5px;
  border: 1px solid #626262;
  border-radius: 50px;
  color: green;
  cursor: pointer;
  height: 25px;
  padding-bottom: 1px;
  right: -1.5px;
  width: 25px;
  text-align: center;
}

form.true {
  bottom: 103px;
}

.dropdown-container {
  border-bottom: 1px solid #626262;
  bottom: -82px;
  margin-top: 8px;
  margin-bottom: 8px;
  position: absolute; 
}

.project-dropdown {
  background: white;
  border: none;
  color: #626262;
  font-size: 12.9px;
  padding-bottom: 6px;
	-webkit-appearance: none;
  width: 245px;
}

.arrow {
  height: 11px;
  margin-top: 4px;
  position: absolute;
  right: 5px;
}


.save-palette.true {
  top: -2px;
}

.choose-prompt {
  color: #626262;
  letter-spacing: 0.5px;
  position: absolute;
  top: -7px;
  width: 260px;
}
