
.not-found-page {
    height: 400px;
    h2 {
        color: #626262;
        font-size: 40px;
        left: 110px;
        letter-spacing: 2.5px;
        word-spacing: 8px;
        position: absolute;
        top: 15px;
    }
    .where {
        height: 170px;
        left: 120px;
        position: absolute;
        top: 150px;
    }
}