.container {
    background-color: white;
    border-radius: 25px;
    box-shadow: 8px 0px 23px rgba(0, 0, 0, 0.07);
    height: 450px;
    margin: auto; 
    margin-top: 40px;
    position: relative;
    width: 425px;
}

.color {
    height: 295px;
    position: absolute;
    top: 0;
    width: 85px;
}

.color-1 {
    background-color: #BED7D1;
    border-radius: 25px 0 0 0;
    left: 0;
}

.color-2 {
    background-color: #F7EBC3;
    left: 85.4px;
}

.color-3 {
    background-color: #FBD6C6;
    left: 170.4px;
}

.color-4 {
    background-color: #F8E1E7;
    right: 85px;
}

.color-5 {
    background-color: #C5D9F7;
    border-radius: 0 25px 0 0;
    right: 0;
}

.generate-btn {
    bottom: 10px;
    position: absolute;
}