@font-face { font-family: Swash; src: url('../../assets/header-font.otf'); } 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
    h1 {
        color: rgb(56, 88, 148);
        font-family: Swash;
        font-size: 58px;
        letter-spacing: 7px;
        padding-top: 10px;
        width: calc(100vw - 250px);
        margin-left: auto;
        text-align: center;
    }

