.palette-container {
  display: flex;
}

.palette-name {
  font-size: 14px;
  margin: 0 0 0 28px;
}

.pal-color {
  height: 40px;
  margin: 8px 0;
  width: 40px;
}

.delete-palette-btn {
  border: none;
  color: lightgray;
  cursor: pointer;
  font-size: 18px;
  height: 28px;
  justify-content: flex-end;
  margin-top: 15px;
  outline: none;
  padding-top: 1.8px;
  top: 12px;
  width: 28px;
}

.delete-palette-btn:hover {
  background: rgba(185, 22, 22, 0.692);
  color: white;
}

.false-pal-input, .false-pal-name {
  display: none;
}