.palettes-body {
  bottom: 0;
  height: calc(100vh - 120px);
  position: absolute;
  right: 0;
  width: calc(100vw - 250px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.palette-container {
  display: flex;
  justify-content: space-between;
  width: 538px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background: #fff;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.13);
  margin-bottom: 10px;
  height: 40px;

}

.pal-color {
  width: 65px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
}

.pal-color:hover {
  color: #fff;
  text-shadow: 0px 0px 9px black;
}

.pal-colors-container {
  display: flex;
}

.palette-name {
  font-family: Arial, Helvetica, sans-serif;
  padding: 7px;
  font-weight: lighter;
  padding-top: 13px;
  font-size: 14px;
  color: rgb(109, 91, 91);
  width: 170px;
}

.add-palette-btn {
  position: absolute;
  bottom: 20px;
  right: 10px;
  border: none;
  background: #385894;
  width: 180px;
  height: 25px;
  border-radius: 25px;
  box-shadow: 0 0 4px 0 rgba(87, 76, 76, 0.507);
  cursor: pointer;
  color: #fff;
  outline: none;
  border: 1px solid #fff;
}

.add-palette-btn:hover {
  box-shadow: 0 0 5px 0 rgba(87, 76, 76, 0.705);
  border: 1px solid #fff;
}

.delete-palette-btn {
  background: lightgray;
  width: 20px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: gray;
  outline: none;
  padding-bottom: 4px;
}

.delete-palette-btn:hover {
  background: rgba(255, 0, 0, 0.466);
  color: #fff;
}

.edit-palette-btn {
  background: lightgray;
  width: 20px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: space-around;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 3px 0;
  outline: none;
}

.edit-palette-btn:hover {
  background: rgba(64, 64, 190, 0.466);
}

.dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: gray;
}

.edit-palette-btn:hover .dot {
  background: #fff;
}