.nav-bar {
    display: grid;
    grid-template-rows: 50px 60px;
    text-align: center;
}

.link {
    color: #626262;
    text-decoration: none;
}

.main-heading {
    color: #626262;
    grid-area: 1 / 1 / 2 / 2;
    margin: 0;
    padding-top: 0px;

}

.link-holder {
    display: flex;
    justify-content: space-evenly;
}

h2 {
    grid-area: 2 / 1 / 3 / 2;
    font-size: 18px;
    margin: 40px 0;
}

h2:hover {
    font-size: 17.3px;
    font-weight: 600;
}
